body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  font-family: 'Merriweather', serif;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}
