.stock-general {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.stock-general div {
  color: white;
  background-color: #20202a;
  width: 100%;
  box-shadow: 0 10px 15px -3px #20202a, 0 4px 6px -2px #20202a;
  border-radius: 14px;
  margin: 1rem 0;
  padding: 0.5rem;
  text-align: center;
}

.stock-description {
  flex-grow: 2;
}

@media (min-width: 1000px) {
  .stock-general {
    flex-direction: row;
  }

  .stock-general div {
    width: 30%;
    margin: 1rem;
  }
}